# macOS
.DS_Store
.AppleDouble
.LSOverride

# Python
__pycache__/
*.py[cod]
*.pyo
venv/
.venv/
*.egg-info/
.env

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
